* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .multipleChoice{
      width: 800px;
      max-width: 80%;
      background-color: grey 50%;
      border-radius: 5px;
      padding:10px;
      box-shadow: 0 0 9px 1px;
  }
  span{
      color: black;
  }

    h3{
        font-size: large;
    }
    input[type="radio"]{
        display: none;
    }
    label{
        position: relative;
        color: plum;
        font-family: Arial, Helvetica, sans-serif;
        border: 2px solid black;
        border-radius: 5px;
        padding: 10px 50px ;
        display: flex;
        align-items: center;

    }

        label:before{

        }
        input[type="radio"]:checked + label{
            background-color: plum;
        }
        input[type="radio"]:checked + label::before{
            height: 50px;
            width: 50px;
            border: 10px snow;
        }
